{% extends 'base.html' %}
{% block profile %}
<h3>Welcome {{ request.user.first_name }}</h3>
{% endblock profile %}

{% block content %}
{% for group in groups %}
    <div class="uk-card uk-card-default uk-margin">
        <div class="uk-card-header">
            <div class="uk-card-title">
                {{ group.name }}
            </div>
        </div>
        <div class="uk-card-body">
            {% for member in group.members %}
                <div><span uk-icon="user"></span> <strong>{{ member.name }}</strong></div>
                {% for gift in member.list %}
                <div class="uk-margin-small">
                    <span uk-icon="triangle-right"></span>
                    {{ gift }}
                </div>
                {% endfor %}
            {% endfor %}
        </div>

    </div>



{% endfor %}
{% endblock content %}
