{% extends 'base.html' %}
{% block profile %}
{% endblock profile %}

{% block content %}
<div uk-grid>
    <div class="uk-align-center">
        <h3>Signup</h3>
        <form action="{% url 'signup' {{ mail_address }} %}" method="post">
            {% csrf_token %}
            {% if user_create_error %}
            <span class="uk-label uk-margin">{{ user_create_error }}</span>
            {% endif %}
            <input class="uk-input uk-margin" name="username" placeholder="Username" type="text">
            {% if mail_address %}
            <input class="uk-input uk-margin" name="email" placeholder="{{ mail_address }}" type="email">
            {% else %}
            <input class="uk-input uk-margin" name="email" placeholder="Email" type="email">
            {% endif %}
            <input class="uk-input uk-margin" name="password" placeholder="Create a password" type="password">
            <button class="uk-button uk-button-primary uk-align-center" type="submit">Create account</button>
        </form>
    </div>
</div>
{% endblock content %}