<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">
        <a href="#" class="uk-navbar-item uk-logo">Gift XCH</a>
    </div>
    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav uk-margin-right">
            <li class="uk-margin-right"><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li class="uk-margin-right"><a href="{% url 'gifts' %}">Gifts</a></li>
            {% if request.user.is_authenticated %}
            <li class="uk-margin-right"><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
            <li class="uk-margin-right"><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
